.footer
  background-color: $footerBgColor
  padding: 64px 0 20px 0

  .info-wrap
    flex-wrap: wrap

  .d-footer-logo
    display: none

  h4
    display: none

  h3
    color: $whiteColor
    font: 400 17px Gordita
    letter-spacing: 0.02px
    line-height: 22px
    margin-bottom: 54px

  .footer-contacts
    .wrap-contact
      display: flex
      flex-direction: column
      div
        color: $whiteColor
        font: 500 12px Gordita
        letter-spacing: 0.46px
        line-height: 18px
        display: flex
        margin-bottom: 12px
        &:nth-child(1)
          order: 2
        &:nth-child(2)
          order: 1
        &:nth-child(3)
          order: 3
        &:nth-child(4)
          display: none

        p
          max-width: 104px

        span
          color: $whiteColor
          font: 12px Gordita
          font-weight: 500
          letter-spacing: 0.46px
          line-height: 18px
          text-transform: uppercase
          margin-right: 29px


  .f-links
    ul
      margin-top: 47px
      column-count: 2
      li
        margin-bottom: 11px
        a
          color: $whiteColor
          font: 500 12px Gordita
          letter-spacing: 0.46px
          line-height: 18px

  .social
    display: flex
    justify-content: space-between
    margin: 53px 0 20px
    padding: 0 12px

  .subscribe
    position: relative

    input
      height: 55px
      border-radius: 27px
      border: 1px solid $whiteColor
      padding: 0 27px 0
      box-sizing: border-box
      color: $whiteColor
      font: 500 14px Gordita
      background: transparent
      width: 100%
      outline: none

      &::-webkit-input-placeholder
        @include placeholder

      &:-moz-placeholder
        @include placeholder

      &:-ms-input-placeholder
        @include placeholder


    button
      background: none
      border: none
      position: absolute
      top: 18px
      right: 22px

  .f-bottom-text
    color: $whiteColor
    font: 500 10px Gordita
    letter-spacing: 0.38px
    line-height: 20px
    margin: 11px 0 56px 0
