.main-page
  margin-top: 25px
.header
  padding: 27px 0 0
  width: 100%

  .logo-main
    svg
      width: 154px

  .mob-menu
    display: none
    width: 100%
    li
      background: #a5acb3
      padding: 10px 10px
      border-bottom: 1px solid #fff
      a
        font: 16px Gordita
        color: #fff

  .top-menu
    display: none

  .right-header
    display: none
    a
      transition: all 0.5s
      &:hover
        background: $secondColor
        color: $whiteColor
        transition: all 0.5s
      &.first:hover
        background: $whiteColor
        color: $secondColor
        transition: all 0.5s

  .wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 37px 11px 31px

.button-menu
  .elem-button
    width: 29px
    height: 0
    border: 2px solid $secondColor
    margin-bottom: 5px

.slider.owl-carousel
  position: relative

  .desktop-img
    display: none

  .owl-stage-outer
    z-index: 2

  .owl-item > div:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #005360
    opacity: 0.72
    z-index: 1

  .owl-item > div *
    z-index: 2

  .slider-text
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    padding: 0 9% 0 9%
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center
    text-align: center

    color: #fff
    font: 32px Gordita
    font-weight: 600
    letter-spacing: 0.03px
    line-height: 46px

  .owl-nav
   top: 50%

   .owl-prev
     position: absolute
     left: 4px
     top: 43%
     height: 30px
     width: 17px
     background: url("/assets/svg/arrow_slider.svg")
     z-index: 2

   .owl-next
     height: 30px
     width: 17px
     position: absolute
     background: url("/assets/svg/arrow_slider.svg")
     right: 6px
     top: 43%
     transform: rotateZ(180deg)
     z-index: 2

  .owl-dots
     position: absolute
     bottom: 33px
     z-index: 2
     width: 100%
     display: flex
     justify-content: center

     .owl-dot
        width: 10px
        height: 11px
        background-color: $whiteColor
        opacity: 0.95
        border-radius: 100%
        margin-left: 10px

        &.active
          background-color: $firstColor