.wrapper
  padding: 0 35px
  width: 100%
  box-sizing: border-box

a
  text-decoration: none

button
  outline: none

.banner
  display: flex
  align-items: center
  height: 143px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  h1
    color: $whiteColor
    font: 600 32px Acumin
    letter-spacing: 0.03px
    line-height: 46px
