@font-face {
  font-family: Gordita;
  src: url("../fonts/Gordita-Regular.eot");
  src: local('☺'),
  url("../fonts/Gordita-Regular.ttf") format("truetype"),
  url('../fonts/Gordita-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gordita-Regular.woff') format('woff');
}

@font-face {
  font-family: TradeGothicLT;
  src: url("../fonts/TradeGothicLT.eot");
  src: local('☺'),
  url("../fonts/TradeGothicLT.ttf") format("truetype"),
  url('../fonts/TradeGothicLT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TradeGothicLT.woff') format('woff');
}

@font-face {
  font-family: TTNorms-Regular;
  src: url("../fonts/TTNorms-Regular.eot");
  src: local('☺'),
  url("../fonts/TTNorms-Regular.ttf") format("truetype"),
  url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Regular.woff') format('woff');
}



@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-CnIt.eot");
  src: local('☺'),
  url("../fonts/AvenirNextLTPro-CnIt.ttf") format("truetype"),
  url('../fonts/AvenirNextLTPro-CnIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-CnIt.woff') format('woff');
}

@font-face {
  font-family: Acumin;
  src: url("../fonts/Acumin-RPro.eot");
  src: local('☺'),
  url("../fonts/Acumin-RPro.ttf") format("truetype"),
  url('../fonts/Acumin-RPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Acumin-RPro.woff') format('woff');
}

@font-face {
  font-family: TradeGothic;
  src: url("../fonts/TradeGothicLTStd.eot");
  src: local('☺'),
  url("../fonts/TradeGothicLTStd.ttf") format("truetype"),
  url('../fonts/TradeGothicLTStd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TradeGothicLTStd.woff') format('woff');
}

