$gutter: 0.7%
$grid-spacing: $gutter + $gutter

@media all and (min-width: 550px)
  .slider.owl-carousel .desktop-img
    display: block
  .slider.owl-carousel .mobile-img
    display: none

  .slider.owl-carousel .slider-text
    letter-spacing: .03px
    line-height: 29px
    font: 29px Gordita

    width: 100%
    height: 100%
    left: 0
    top: 0
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin: 0 auto
    padding: 0 10%
    box-sizing: border-box

@media all and (min-width: 590px)
  // container sizes
  $container-width: 100%
  $container-max-width: 1617px
  $container-min-width: 280px

  $container-fluid-width: 100%
  $container-fluid-max-width: 1600px
  $container-fluid-min-width: 280px

  .container
    width: $container-width
    max-width: $container-max-width
    min-width: $container-min-width
    margin: 0 auto

  .container-fluid
    width: $container-fluid-width
    min-width: $container-fluid-min-width
    max-width: $container-fluid-max-width
    margin: 0 auto
    box-sizing: border-box

  .container-full-width
    margin: 0 auto
    box-sizing: border-box
    width: 100%
    float: none
    clear: both

  .row
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .posts-main
    .col
      width: (6/12*100%) - $grid-spacing

  .f-links
    max-width: 372px


@media all and (min-width: 650px)
  .twitter-block
    .col
      width: (6/12*100%) - $grid-spacing

  .twitter-item
    .top-t
      div p
        width: 189px

@media all and (min-width: 750px)
  .header
    .logo-main
      svg
        width: 201px
  .wrapper
    max-width: 1637px
    margin: 0 auto
    padding: 0 10px
    box-sizing: border-box
    overflow: hidden

  .posts-main
    .col
      width: (4/12*100%) - $grid-spacing
  .posts-main
    .row > div
      margin-bottom: 31px
      h2
        font-size: 30px


@media all and (min-width: 1100px)
  .main-page
    margin-top: 99px
  .support-block
    display: block
  .header
    background: #086e61
    padding: 30px 0 0

    .logo-main
      svg
        path
          fill: #fff

    .search-btn
      background: none
      border: none

    .wrapper
      padding: 0 10px 20px 10px

    .right-header
      display: flex
      width: 29.5%
      justify-content: space-between
      a
        width: 144px
        border-radius: 36px
        border: 2px solid #fff
        color: #fff
        letter-spacing: 0.3px
        font: 400 15px Helvetica
        line-height: 40px
        text-align: center

        &.first
          background-color: #fff
          color: #086e61
          padding: 0 14px

    .top-menu
      display: flex
      justify-content: space-between
      width: 50%
      margin-top: -4px
      li
        position: relative
        &.active a, &:hover a
          color: #fff
          &:before
            content: ""
            width: 100%
            height: 2px
            background: #fff
            display: block
            bottom: -10px
            position: absolute
        a
          width: 44px
          height: 22px
          color: #fff
          font-size: 15px
          letter-spacing: 0.57px
          line-height: 21px
          font-family: Helvetica
          font-weight: 400

    .button-menu
      display: none

  .twitter-block
    margin-top: 64px
    padding: 24px 0 35px
    background: none

    h2
      text-align: center
      color: #e5b029
      font-family: Helvetica
      text-transform: uppercase
      font-size: 20px
      font-weight: 700
      letter-spacing: 3.8px
      a
        font-family: "TradeGothic"
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 3.8px
        color: #e5b029

    .row
      display: none

  .slider.owl-carousel
    .owl-nav .owl-next, .owl-nav .owl-prev
      top: 45%

    .owl-dots
      bottom: 46px
      .owl-dot
        width: 12px
        height: 12px

    .slider-text
      font: 51px Lato
      font-weight: 900
      line-height: 67px
      text-transform: uppercase

  .slider.owl-carousel
    .owl-item > div:before
      display: none

  .footer
    .d-footer-logo
      margin-top: 7px
      display: block

    .f-bottom-text
      color: #454545
      font-size: 15px
      font-weight: 400
      letter-spacing: 0.3px
      line-height: 30px
      font-family: Helvetica
      font-weight: 400
      text-align: center
      margin: 88px 0 22px 0

    .wrapper
      padding-top: 134px
    background-color: #f5f7f8
    padding: 0 0 20px

    h4
      display: block
      width: 220px
      height: 35px
      color: #086e61
      font-size: 20px
      letter-spacing: 3.8px
      font-family: Helvetica
      font-weight: 700
      text-transform: uppercase

    .wrapper
      max-width: 1562px

    .info-wrap
      display: flex
      justify-content: center
    h3
      display: none
    .footer-contacts .wrap-contact div span,
    .footer-contacts div p,
    .f-links ul li a
      color: #454545

    .social
      display: none

    .footer-contacts
      h4
        margin-bottom: 57px
      order:  2
      .wrap-contact
        width: 485px
        display: block

        div
          float: left

        div:nth-child(1)
          width: 237px

        div:nth-child(2)
          height: 20px
          margin: 6px 0 28px 0

        div:nth-child(3)
          height: 20px
          width: 200px
          margin-bottom: 38px

        div:nth-child(4)
          display: flex
          align-items: center
          justify-content: space-between
          width: 174px
          margin-top: 20px

        div
          p, span
            max-width: 128px
            height: 138px
            color: #454545
            font-size: 17px
            letter-spacing: 0.34px
            line-height: 30px
            font-family: Helvetica
            font-weight: 400

    .f-links
      margin-top: 0
      width: 38.2%
      margin-left: 7.3%
      ul
        li
          margin-bottom: 30px
          a
            font-size: 17px

    .subscribe
      display: none

  // css for contacts page

  .banner
    margin-bottom: 110px
    height: 418px
    h1
      color: #fff
      font: 900 80px Lato
      line-height: 85px
      text-transform: uppercase

  .desktop-follow-us
    color: #086e61
    font: 500 30px TTNorms-Regular
    margin-top: 40px

    p
      margin-bottom: 23px

    .c-wrap-soc
      padding-left: 0
      max-width: 169px

  .mob-header
    display: none
  .d-contact-image
    display: block
    padding-top: 63px
  .contacts
    display: flex
    flex-direction: column

    #map
      height: 806px

    .contact-info
      margin: 20px 0 10px 0
      order: 1
      display: flex
      justify-content: space-between
      h3
        color: #086e61
        font: 700 30px TradeGothicLT
        text-transform: uppercase
        position: relative
        margin-left: 24px
        &:before
          content: ""
          position: absolute
          background: #086e61
          width: 3px
          height: 132%
          left: -24px

      .c-info-item
        position: relative
        margin: 0 0 49px 21px
        &:before
          content: ""
          position: absolute
          background: #086e61
          width: 3px
          height: 100%
          left: -21px
        p
          color: #086e61
          font: 300 24px Helvetica
          letter-spacing: 0.48px
          line-height: 38px
          margin: 0 0 2px 0

        p.s-text
          color: #454545
          font-size: 24px
          font-weight: 300
          letter-spacing: 0.48px
          line-height: 38px
          margin-bottom: 7px

        p.first
          color: #086e61
          font: 700 30px TradeGothicLT
          text-transform: uppercase

    .map
      order: 2

    .desktop-info-contact
      display: block
      margin-bottom: 78px
      ul
        margin-bottom: 50px
        li
          letter-spacing: -0.52px
          line-height: 35px
    .c-get-touch-text
      display: block
      max-width: 394px
      position: relative
      margin: 0 0 30px 32px
      &:before
        content: ""
        width: 3px
        height: 95%
        position: absolute
        background: #086e61
        left: -31px
    .c-follow-us, .contact-top
      display: none

@media all and (min-width: 1500px)
  .slider.owl-carousel
    .owl-nav .owl-next, .owl-nav .owl-prev
      top: 45%

    .owl-dots
      bottom: 46px
      .owl-dot
        width: 12px
        height: 12px

    .slider-text
      top: 124px
      margin-left: 12px
      width: 854px
      height: auto
      left: 11.9%
      text-align: left
      display: block
      font: 80px Lato
      font-weight: 900
      line-height: 85px
      text-transform: uppercase
      padding: 0

      &:before
        content: ""
        position: absolute
        width: 4px
        height: 96%
        background: #fff
        left: -45px
        top: 10px
  .header
    .wrapper
      padding: 0 10px 10px

    .right-header
      width: 23.5%

    .top-menu
      width: 45%
      margin-left: 4%
      margin-top: -4px

    .f-links
      width: 38.2%
      max-width: 100%
      ul
        margin-top: 67px
    .info-wrap
      justify-content: flex-start

  .footer
    .f-links
      width: 38%
      margin-left: 7.3%
      max-width: 100%
      ul
        margin-top: 68px
    .info-wrap
      display: flex
      justify-content: flex-start


@media all and (min-width: 1600px)
  .footer
    .footer-contacts
      .wrap-contact
        div:nth-child(1)
          width: 281px

