@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Gordita;
  src: url("../fonts/Gordita-Regular.eot");
  src: local("☺"), url("../fonts/Gordita-Regular.ttf") format("truetype"), url("../fonts/Gordita-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gordita-Regular.woff") format("woff");
}

@font-face {
  font-family: TradeGothicLT;
  src: url("../fonts/TradeGothicLT.eot");
  src: local("☺"), url("../fonts/TradeGothicLT.ttf") format("truetype"), url("../fonts/TradeGothicLT.eot?#iefix") format("embedded-opentype"), url("../fonts/TradeGothicLT.woff") format("woff");
}

@font-face {
  font-family: TTNorms-Regular;
  src: url("../fonts/TTNorms-Regular.eot");
  src: local("☺"), url("../fonts/TTNorms-Regular.ttf") format("truetype"), url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Regular.woff") format("woff");
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-CnIt.eot");
  src: local("☺"), url("../fonts/AvenirNextLTPro-CnIt.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-CnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-CnIt.woff") format("woff");
}

@font-face {
  font-family: Acumin;
  src: url("../fonts/Acumin-RPro.eot");
  src: local("☺"), url("../fonts/Acumin-RPro.ttf") format("truetype"), url("../fonts/Acumin-RPro.eot?#iefix") format("embedded-opentype"), url("../fonts/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: TradeGothic;
  src: url("../fonts/TradeGothicLTStd.eot");
  src: local("☺"), url("../fonts/TradeGothicLTStd.ttf") format("truetype"), url("../fonts/TradeGothicLTStd.eot?#iefix") format("embedded-opentype"), url("../fonts/TradeGothicLTStd.woff") format("woff");
}

.main-page {
  margin-top: 25px;
}

.header {
  padding: 27px 0 0;
  width: 100%;
}

.header .logo-main svg {
  width: 154px;
}

.header .mob-menu {
  display: none;
  width: 100%;
}

.header .mob-menu li {
  background: #a5acb3;
  padding: 10px 10px;
  border-bottom: 1px solid #fff;
}

.header .mob-menu li a {
  font: 16px Gordita;
  color: #fff;
}

.header .top-menu {
  display: none;
}

.header .right-header {
  display: none;
}

.header .right-header a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .right-header a:hover {
  background: #086e61;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .right-header a.first:hover {
  background: #fff;
  color: #086e61;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 37px 11px 31px;
}

.button-menu .elem-button {
  width: 29px;
  height: 0;
  border: 2px solid #086e61;
  margin-bottom: 5px;
}

.slider.owl-carousel {
  position: relative;
}

.slider.owl-carousel .desktop-img {
  display: none;
}

.slider.owl-carousel .owl-stage-outer {
  z-index: 2;
}

.slider.owl-carousel .owl-item > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005360;
  opacity: 0.72;
  z-index: 1;
}

.slider.owl-carousel .owl-item > div * {
  z-index: 2;
}

.slider.owl-carousel .slider-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 9% 0 9%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  font: 32px Gordita;
  font-weight: 600;
  letter-spacing: 0.03px;
  line-height: 46px;
}

.slider.owl-carousel .owl-nav {
  top: 50%;
}

.slider.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 4px;
  top: 43%;
  height: 30px;
  width: 17px;
  background: url("/assets/svg/arrow_slider.svg");
  z-index: 2;
}

.slider.owl-carousel .owl-nav .owl-next {
  height: 30px;
  width: 17px;
  position: absolute;
  background: url("/assets/svg/arrow_slider.svg");
  right: 6px;
  top: 43%;
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
  z-index: 2;
}

.slider.owl-carousel .owl-dots {
  position: absolute;
  bottom: 33px;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 11px;
  background-color: #fff;
  opacity: 0.95;
  border-radius: 100%;
  margin-left: 10px;
}

.slider.owl-carousel .owl-dots .owl-dot.active {
  background-color: #c09548;
}

.wrapper {
  padding: 0 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 143px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  color: #fff;
  font: 600 32px Acumin;
  letter-spacing: 0.03px;
  line-height: 46px;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.posts-main img {
  max-width: 100%;
  display: block;
  margin: 0;
}

.posts-main .row > div {
  position: relative;
  margin-bottom: 18px;
}

.posts-main .row > div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #405065;
  opacity: 0.46;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.posts-main .row > div:hover:before {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.posts-main .row > div .header-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts-main .row > div h2 {
  color: #ffffff;
  font: 500 22px Gordita;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.twitter-block {
  margin-top: 44px;
  background-color: rgba(239, 237, 236, 0.35);
  padding: 59px 0 98px 0;
}

.twitter-block h2 {
  font: 14px Gordita;
  font-weight: 500;
  letter-spacing: 0.53px;
  line-height: 21px;
  color: #405065;
  margin: 0 0 36px 12px;
}

.twitter-block h2 a {
  color: #c09548;
}

.twitter-item {
  border-radius: 6px;
  border: 1px solid rgba(134, 146, 158, 0.53);
  margin-bottom: 18px;
}

.twitter-item > div {
  padding: 15px 15px 9px 15px;
}

.twitter-item .top-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.twitter-item .top-t div p {
  display: inline-block;
  width: 200px;
  color: #3f3f3f;
  letter-spacing: 0.38px;
  line-height: 14px;
  font: 700 10px "Acumin";
  position: relative;
  top: -5px;
}

.twitter-item .top-t div p span {
  font-family: Helvetica;
  font-weight: 400;
  display: block;
}

.twitter-item .top-t i {
  background: url("/assets/images/twitter_logo.png");
  display: block;
  width: 24px;
  height: 20px;
  margin: 4px 4px 0 0;
}

.twitter-item p {
  color: #3f3f3f;
  font: 400 12px Helvetica;
  letter-spacing: 0.46px;
  line-height: 19px;
}

.twitter-item .bottom-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

.twitter-item .bottom-t .t-like {
  margin-right: 7%;
}

.twitter-item .bottom-t .re-tweet {
  margin-right: 27%;
}

.twitter-item .bottom-t .comment-t {
  margin-left: 15px;
}

.twitter-item .bottom-t span {
  color: #3f3f3f;
  letter-spacing: 0.34px;
  line-height: 13px;
  font: 400 10px Helvetica;
  position: relative;
  top: -4px;
}

.twitter-item .bottom-link {
  color: #81a9ce;
  letter-spacing: 0.46px;
  line-height: 8px;
  font: 400 12px Helvetica;
  display: block;
  width: 100%;
  padding: 7px 0 12px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(134, 146, 158, 0.53);
}

.twitter-item .bottom-link svg:first-child {
  position: relative;
  top: 4px;
  left: -2px;
}

.twitter-item .bottom-link span {
  float: right;
  margin-right: 20px;
}

.support-block {
  background: #f5f7f8;
  padding: 69px 0 170px;
  margin: 43px 0 59px 0;
  display: none;
}

.support-block h2 {
  text-align: center;
  color: #086e61;
  font-family: "Trade Gothic LT";
  letter-spacing: 3.8px;
  text-transform: uppercase;
  font: 700 20px Helvetica;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 92px;
}

.wrap-support {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1249px;
  margin: 0 auto;
}

.banner.b-contacts {
  background-image: url("../images/contact.jpg");
}

.d-contact-image {
  display: none;
}

.contacts .desktop-info-contact {
  display: none;
}

.contacts .desktop-info-contact ul li, .contacts .desktop-info-contact p {
  color: #086e61;
  font: 300 24px Gordita;
  letter-spacing: 0.48px;
  line-height: 38px;
  max-width: 350px;
}

.contacts .desktop-info-contact a {
  color: #e5b029;
  font: 500 24px TTNorms-Regular;
  letter-spacing: 0.48px;
  line-height: 40px;
}

.contacts .c-get-touch-text {
  color: #086e61;
  font: 700 40px TradeGothicLT;
  line-height: 50px;
  text-transform: uppercase;
  display: none;
}

.contacts .mob-header {
  color: #405065;
  font: 500 22px Gordita;
  letter-spacing: 0.84px;
  line-height: 35px;
  margin: 35px 0 26px 0;
}

.contacts .contact-top ul {
  margin-bottom: 21px;
}

.contacts .contact-top li {
  margin-bottom: 12px;
  color: #c09548;
  font: 500 18px Gordita;
  letter-spacing: 0.68px;
  line-height: 21px;
  text-transform: uppercase;
}

.contacts .contact-top li span {
  color: #405065;
}

.contacts .contact-top p {
  color: #405065;
  font: 500 14px Gordita;
  letter-spacing: 0.53px;
  line-height: 21px;
}

.contacts .map {
  margin: 40px 0 10px 0;
}

.contacts .map p {
  color: #c09548;
  font: 500 14px Gordita;
  letter-spacing: 0.53px;
  line-height: 21px;
  margin-bottom: 22px;
}

.contacts #map {
  height: 249px;
}

.contacts .c-follow-us {
  margin-top: 41px;
}

.contacts .c-follow-us p {
  color: #405065;
  font: 500 22px Gordita;
  letter-spacing: 0.84px;
  line-height: 35px;
  margin-bottom: 16px;
}

.contacts .c-wrap-soc {
  max-width: 191px;
  padding-left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.contact-info h3 {
  color: #405065;
  font: 500 22px Gordita;
  letter-spacing: 0.84px;
  line-height: 35px;
  margin: 38px 0 10px 0;
}

.contact-info .c-info-item {
  margin-bottom: 56px;
}

.contact-info .c-info-item p {
  color: #c09548;
  font: 500 14px Gordita;
  letter-spacing: 0.53px;
  line-height: 21px;
  margin-bottom: 12px;
}

.contact-info .c-info-item .s-text {
  color: #405065;
}

.contact-info .c-info-item .first {
  color: rgba(41, 77, 128, 0.3);
  font: 500 20px Gordita;
  letter-spacing: 0.76px;
  line-height: 21px;
}

.banner.b-code-advice {
  background-image: url("../images/code_img.png");
  margin-bottom: 20px;
}

.footer {
  background-color: #a5acb3;
  padding: 64px 0 20px 0;
}

.footer .info-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer .d-footer-logo {
  display: none;
}

.footer h4 {
  display: none;
}

.footer h3 {
  color: #fff;
  font: 400 17px Gordita;
  letter-spacing: 0.02px;
  line-height: 22px;
  margin-bottom: 54px;
}

.footer .footer-contacts .wrap-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-contacts .wrap-contact div {
  color: #fff;
  font: 500 12px Gordita;
  letter-spacing: 0.46px;
  line-height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.footer .footer-contacts .wrap-contact div:nth-child(1) {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.footer .footer-contacts .wrap-contact div:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.footer .footer-contacts .wrap-contact div:nth-child(3) {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.footer .footer-contacts .wrap-contact div:nth-child(4) {
  display: none;
}

.footer .footer-contacts .wrap-contact div p {
  max-width: 104px;
}

.footer .footer-contacts .wrap-contact div span {
  color: #fff;
  font: 12px Gordita;
  font-weight: 500;
  letter-spacing: 0.46px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 29px;
}

.footer .f-links ul {
  margin-top: 47px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.footer .f-links ul li {
  margin-bottom: 11px;
}

.footer .f-links ul li a {
  color: #fff;
  font: 500 12px Gordita;
  letter-spacing: 0.46px;
  line-height: 18px;
}

.footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 53px 0 20px;
  padding: 0 12px;
}

.footer .subscribe {
  position: relative;
}

.footer .subscribe input {
  height: 55px;
  border-radius: 27px;
  border: 1px solid #fff;
  padding: 0 27px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font: 500 14px Gordita;
  background: transparent;
  width: 100%;
  outline: none;
}

.footer .subscribe input::-webkit-input-placeholder {
  color: #fff !important;
  font: 500 14px Gordita;
  letter-spacing: 0.53px;
  line-height: 18px;
}

.footer .subscribe input:-moz-placeholder {
  color: #fff !important;
  font: 500 14px Gordita;
  letter-spacing: 0.53px;
  line-height: 18px;
}

.footer .subscribe input:-ms-input-placeholder {
  color: #fff !important;
  font: 500 14px Gordita;
  letter-spacing: 0.53px;
  line-height: 18px;
}

.footer .subscribe button {
  background: none;
  border: none;
  position: absolute;
  top: 18px;
  right: 22px;
}

.footer .f-bottom-text {
  color: #fff;
  font: 500 10px Gordita;
  letter-spacing: 0.38px;
  line-height: 20px;
  margin: 11px 0 56px 0;
}
