@media all and (min-width: 550px) {
  .slider.owl-carousel .desktop-img {
    display: block;
  }
  .slider.owl-carousel .mobile-img {
    display: none;
  }
  .slider.owl-carousel .slider-text {
    letter-spacing: .03px;
    line-height: 29px;
    font: 29px Gordita;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 10%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media all and (min-width: 590px) {
  .container {
    width: 100%;
    max-width: 1617px;
    min-width: 280px;
    margin: 0 auto;
  }
  .container-fluid {
    width: 100%;
    min-width: 280px;
    max-width: 1600px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container-full-width {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    float: none;
    clear: both;
  }
  .row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .posts-main .col {
    width: 48.6%;
  }
  .f-links {
    max-width: 372px;
  }
}

@media all and (min-width: 650px) {
  .twitter-block .col {
    width: 48.6%;
  }
  .twitter-item .top-t div p {
    width: 189px;
  }
}

@media all and (min-width: 750px) {
  .header .logo-main svg {
    width: 201px;
  }
  .wrapper {
    max-width: 1637px;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .posts-main .col {
    width: 31.93333%;
  }
  .posts-main .row > div {
    margin-bottom: 31px;
  }
  .posts-main .row > div h2 {
    font-size: 30px;
  }
}

@media all and (min-width: 1100px) {
  .main-page {
    margin-top: 99px;
  }
  .support-block {
    display: block;
  }
  .header {
    background: #086e61;
    padding: 30px 0 0;
  }
  .header .logo-main svg path {
    fill: #fff;
  }
  .header .search-btn {
    background: none;
    border: none;
  }
  .header .wrapper {
    padding: 0 10px 20px 10px;
  }
  .header .right-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 29.5%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .right-header a {
    width: 144px;
    border-radius: 36px;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 0.3px;
    font: 400 15px Helvetica;
    line-height: 40px;
    text-align: center;
  }
  .header .right-header a.first {
    background-color: #fff;
    color: #086e61;
    padding: 0 14px;
  }
  .header .top-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    margin-top: -4px;
  }
  .header .top-menu li {
    position: relative;
  }
  .header .top-menu li.active a, .header .top-menu li:hover a {
    color: #fff;
  }
  .header .top-menu li.active a:before, .header .top-menu li:hover a:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    bottom: -10px;
    position: absolute;
  }
  .header .top-menu li a {
    width: 44px;
    height: 22px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.57px;
    line-height: 21px;
    font-family: Helvetica;
    font-weight: 400;
  }
  .header .button-menu {
    display: none;
  }
  .twitter-block {
    margin-top: 64px;
    padding: 24px 0 35px;
    background: none;
  }
  .twitter-block h2 {
    text-align: center;
    color: #e5b029;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3.8px;
  }
  .twitter-block h2 a {
    font-family: "TradeGothic";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.8px;
    color: #e5b029;
  }
  .twitter-block .row {
    display: none;
  }
  .slider.owl-carousel .owl-nav .owl-next, .slider.owl-carousel .owl-nav .owl-prev {
    top: 45%;
  }
  .slider.owl-carousel .owl-dots {
    bottom: 46px;
  }
  .slider.owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
  }
  .slider.owl-carousel .slider-text {
    font: 51px Lato;
    font-weight: 900;
    line-height: 67px;
    text-transform: uppercase;
  }
  .slider.owl-carousel .owl-item > div:before {
    display: none;
  }
  .footer {
    background-color: #f5f7f8;
    padding: 0 0 20px;
  }
  .footer .d-footer-logo {
    margin-top: 7px;
    display: block;
  }
  .footer .f-bottom-text {
    color: #454545;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 30px;
    font-family: Helvetica;
    font-weight: 400;
    text-align: center;
    margin: 88px 0 22px 0;
  }
  .footer .wrapper {
    padding-top: 134px;
  }
  .footer h4 {
    display: block;
    width: 220px;
    height: 35px;
    color: #086e61;
    font-size: 20px;
    letter-spacing: 3.8px;
    font-family: Helvetica;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer .wrapper {
    max-width: 1562px;
  }
  .footer .info-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer h3 {
    display: none;
  }
  .footer .footer-contacts .wrap-contact div span,
  .footer .footer-contacts div p,
  .footer .f-links ul li a {
    color: #454545;
  }
  .footer .social {
    display: none;
  }
  .footer .footer-contacts {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .footer-contacts h4 {
    margin-bottom: 57px;
  }
  .footer .footer-contacts .wrap-contact {
    width: 485px;
    display: block;
  }
  .footer .footer-contacts .wrap-contact div {
    float: left;
  }
  .footer .footer-contacts .wrap-contact div:nth-child(1) {
    width: 237px;
  }
  .footer .footer-contacts .wrap-contact div:nth-child(2) {
    height: 20px;
    margin: 6px 0 28px 0;
  }
  .footer .footer-contacts .wrap-contact div:nth-child(3) {
    height: 20px;
    width: 200px;
    margin-bottom: 38px;
  }
  .footer .footer-contacts .wrap-contact div:nth-child(4) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 174px;
    margin-top: 20px;
  }
  .footer .footer-contacts .wrap-contact div p, .footer .footer-contacts .wrap-contact div span {
    max-width: 128px;
    height: 138px;
    color: #454545;
    font-size: 17px;
    letter-spacing: 0.34px;
    line-height: 30px;
    font-family: Helvetica;
    font-weight: 400;
  }
  .footer .f-links {
    margin-top: 0;
    width: 38.2%;
    margin-left: 7.3%;
  }
  .footer .f-links ul li {
    margin-bottom: 30px;
  }
  .footer .f-links ul li a {
    font-size: 17px;
  }
  .footer .subscribe {
    display: none;
  }
  .banner {
    margin-bottom: 110px;
    height: 418px;
  }
  .banner h1 {
    color: #fff;
    font: 900 80px Lato;
    line-height: 85px;
    text-transform: uppercase;
  }
  .desktop-follow-us {
    color: #086e61;
    font: 500 30px TTNorms-Regular;
    margin-top: 40px;
  }
  .desktop-follow-us p {
    margin-bottom: 23px;
  }
  .desktop-follow-us .c-wrap-soc {
    padding-left: 0;
    max-width: 169px;
  }
  .mob-header {
    display: none;
  }
  .d-contact-image {
    display: block;
    padding-top: 63px;
  }
  .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts #map {
    height: 806px;
  }
  .contacts .contact-info {
    margin: 20px 0 10px 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts .contact-info h3 {
    color: #086e61;
    font: 700 30px TradeGothicLT;
    text-transform: uppercase;
    position: relative;
    margin-left: 24px;
  }
  .contacts .contact-info h3:before {
    content: "";
    position: absolute;
    background: #086e61;
    width: 3px;
    height: 132%;
    left: -24px;
  }
  .contacts .contact-info .c-info-item {
    position: relative;
    margin: 0 0 49px 21px;
  }
  .contacts .contact-info .c-info-item:before {
    content: "";
    position: absolute;
    background: #086e61;
    width: 3px;
    height: 100%;
    left: -21px;
  }
  .contacts .contact-info .c-info-item p {
    color: #086e61;
    font: 300 24px Helvetica;
    letter-spacing: 0.48px;
    line-height: 38px;
    margin: 0 0 2px 0;
  }
  .contacts .contact-info .c-info-item p.s-text {
    color: #454545;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.48px;
    line-height: 38px;
    margin-bottom: 7px;
  }
  .contacts .contact-info .c-info-item p.first {
    color: #086e61;
    font: 700 30px TradeGothicLT;
    text-transform: uppercase;
  }
  .contacts .map {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .contacts .desktop-info-contact {
    display: block;
    margin-bottom: 78px;
  }
  .contacts .desktop-info-contact ul {
    margin-bottom: 50px;
  }
  .contacts .desktop-info-contact ul li {
    letter-spacing: -0.52px;
    line-height: 35px;
  }
  .contacts .c-get-touch-text {
    display: block;
    max-width: 394px;
    position: relative;
    margin: 0 0 30px 32px;
  }
  .contacts .c-get-touch-text:before {
    content: "";
    width: 3px;
    height: 95%;
    position: absolute;
    background: #086e61;
    left: -31px;
  }
  .contacts .c-follow-us, .contacts .contact-top {
    display: none;
  }
}

@media all and (min-width: 1500px) {
  .slider.owl-carousel .owl-nav .owl-next, .slider.owl-carousel .owl-nav .owl-prev {
    top: 45%;
  }
  .slider.owl-carousel .owl-dots {
    bottom: 46px;
  }
  .slider.owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
  }
  .slider.owl-carousel .slider-text {
    top: 124px;
    margin-left: 12px;
    width: 854px;
    height: auto;
    left: 11.9%;
    text-align: left;
    display: block;
    font: 80px Lato;
    font-weight: 900;
    line-height: 85px;
    text-transform: uppercase;
    padding: 0;
  }
  .slider.owl-carousel .slider-text:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 96%;
    background: #fff;
    left: -45px;
    top: 10px;
  }
  .header .wrapper {
    padding: 0 10px 10px;
  }
  .header .right-header {
    width: 23.5%;
  }
  .header .top-menu {
    width: 45%;
    margin-left: 4%;
    margin-top: -4px;
  }
  .header .f-links {
    width: 38.2%;
    max-width: 100%;
  }
  .header .f-links ul {
    margin-top: 67px;
  }
  .header .info-wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .f-links {
    width: 38%;
    margin-left: 7.3%;
    max-width: 100%;
  }
  .footer .f-links ul {
    margin-top: 68px;
  }
  .footer .info-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (min-width: 1600px) {
  .footer .footer-contacts .wrap-contact div:nth-child(1) {
    width: 281px;
  }
}
