.banner.b-contacts
  background-image: url("../images/contact.jpg")


.d-contact-image
  display: none

.contacts
  .desktop-info-contact
    display: none
    ul li, p
      color: #086e61
      font: 300 24px Gordita
      letter-spacing: 0.48px
      line-height: 38px
      max-width: 350px

    a
      color: #e5b029
      font: 500 24px TTNorms-Regular
      letter-spacing: 0.48px
      line-height: 40px

  .c-get-touch-text
    color: #086e61
    font: 700 40px TradeGothicLT
    line-height: 50px
    text-transform: uppercase
    display: none

  .mob-header
    color: $thirdColor
    font: 500 22px Gordita
    letter-spacing: 0.84px
    line-height: 35px
    margin: 35px 0 26px 0

  .contact-top
    ul
      margin-bottom: 21px
    li
      margin-bottom: 12px
      color: $firstColor
      font: 500 18px Gordita
      letter-spacing: 0.68px
      line-height: 21px
      text-transform: uppercase
      span
        color: $thirdColor

    p
      color: $thirdColor
      font: 500 14px Gordita
      letter-spacing: 0.53px
      line-height: 21px

  .map
    margin: 40px 0 10px 0
    p
      color: $firstColor
      font: 500 14px Gordita
      letter-spacing: 0.53px
      line-height: 21px
      margin-bottom: 22px

  #map
    height: 249px

  .c-follow-us
    margin-top: 41px
    p
      color: #405065
      font: 500 22px Gordita
      letter-spacing: 0.84px
      line-height: 35px
      margin-bottom: 16px

  .c-wrap-soc
    max-width: 191px
    padding-left: 8px
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

.contact-info
  h3
    color: #405065
    font: 500 22px Gordita
    letter-spacing: 0.84px
    line-height: 35px
    margin: 38px 0 10px 0

  .c-info-item
    margin-bottom: 56px
    p
      color: #c09548
      font: 500 14px Gordita
      letter-spacing: 0.53px
      line-height: 21px
      margin-bottom: 12px

    .s-text
      color: $thirdColor

    .first
      color: rgba(41, 77, 128, 0.3)
      font: 500 20px Gordita
      letter-spacing: 0.76px
      line-height: 21px
