.posts-main
  img
    max-width: 100%
    display: block
    margin: 0

  .row > div
    position: relative
    margin-bottom: 18px
    &:before
      content: ""
      position: absolute
      width: 100%
      height: 100%
      background: $thirdColor
      opacity: 0.46
      transition: all 0.5s


    &:hover:before
      transition: all 0.5s
      opacity: 0

    .header-wrapper
      position: absolute
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center

    h2
      color: #ffffff
      font: 500 22px Gordita
      text-align: center
      width: 100%
      padding: 0 10px

.twitter-block
  margin-top: 44px
  background-color: rgba(239, 237, 236, 0.35)
  padding: 59px 0 98px 0
  h2
    font: 14px Gordita
    font-weight: 500
    letter-spacing: 0.53px
    line-height: 21px
    color: #405065
    margin: 0 0 36px 12px
    a
      color: #c09548


.twitter-item
  border-radius: 6px
  border: 1px solid $fourColor
  margin-bottom: 18px

  & > div
    padding: 15px 15px 9px 15px

  .top-t
    display: flex
    justify-content: space-between
    margin-bottom: 6px
    div
      p
        display: inline-block
        width: 200px
        color: #3f3f3f
        letter-spacing: 0.38px
        line-height: 14px
        font: 700 10px "Acumin"
        position: relative
        top: -5px
        span
          font-family: Helvetica
          font-weight: 400
          display: block

    i
      background: url("/assets/images/twitter_logo.png")
      display: block
      width: 24px
      height: 20px
      margin: 4px 4px 0 0

  p
    color: #3f3f3f
    font: 400 12px Helvetica
    letter-spacing: 0.46px
    line-height: 19px

  .bottom-t
    display: flex
    margin-top: 48px

    .t-like
      margin-right: 7%

    .re-tweet
      margin-right: 27%

    .comment-t
      margin-left: 15px

    span
      color: $fiveColor
      letter-spacing: 0.34px
      line-height: 13px
      font: 400 10px Helvetica
      position: relative
      top: -4px

  .bottom-link
    color: #81a9ce
    font-size:
    letter-spacing: 0.46px
    line-height: 8px
    font: 400 12px Helvetica
    display: block
    width: 100%
    padding: 7px 0 12px 18px
    box-sizing: border-box
    border-top: 1px solid $fourColor

    svg:first-child
      position: relative
      top: 4px
      left: -2px

    span
      float: right
      margin-right: 20px

.support-block
  background: $sixColor
  padding: 69px 0 170px
  margin: 43px 0 59px 0
  display: none

  h2
    text-align: center
    color: $headerBg
    font-family: "Trade Gothic LT"
    letter-spacing: 3.8px
    text-transform: uppercase
    font: 700 20px Helvetica
    font-weight: 700
    text-transform: uppercase
    margin-bottom: 92px

.wrap-support
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1249px
  margin: 0 auto
